#OS junk files
[Tt]humbs.db
*.DS_Store

.hg/

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease/
Ankh.NoLoad

#Hg files
*.orig
*.rej

#Tooling
_ReSharper*/
_TeamCity*/
*.resharper
[Tt]est[Rr]esult*

# Office Temp Files
~$*

#NuGet
Source/packages/

#ncrunch
*[Nn][Cc]runch*
*crunch*.local.xml


# visual studio database projects
*.dbmdl

#Build Output
Build/Output/*
Build/Package/*

#Web Configs
Source/ScheduledTasks/VacationRoost.RequestedProcessExecutor/App.config
Source/AccountingEngine/VacationRoost.AccountingEngine/app.config
Source/GatewayServices/VacationRoost.GatewayServices.DataReceiverService/Web.config
Source/GatewayServices/VacationRoost.GatewayServices.TestGatewayImplementations/Web.config
Source/Partners/VacationRoost.Partners.Web/Web.config
Source/Partners/VacationRoost.Partners.Web/web.config
Source/ProductAdmin/VacationRoost.ProductAdmin.Web/Web.config
Source/ProductAdmin/VacationRoost.ProductAdmin.Web/web.config
Source/Services/VacationRoost.Services/Web.config
Source/TripMaster2/VacationRoost.TripMaster2.Web/Web.config
Source/ContentManagement/VacationRoost.VR.ContentManagement/Web.config
Source/VacationRoost.com/VacationRoost.VR.Web/Web.config      
Source/ScheduledTasks/VacationRoost.VR.AirBooker/App.config                     
Source/ScheduledTasks/VacationRoost.VR.AutoDialer/App.config                    
Source/ScheduledTasks/VacationRoost.VR.AvantLinkBatchUploader/App.config        
Source/ScheduledTasks/VacationRoost.VR.BookingAlertMigration/App.config         
Source/ScheduledTasks/VacationRoost.VR.CurrencyUpdater/App.config               
Source/ScheduledTasks/VacationRoost.VR.ExtrasFormReminderEmailer/App.config     
Source/ScheduledTasks/VacationRoost.VR.PNRLocator/App.config                    
Source/ScheduledTasks/VacationRoost.VR.RateExporter/App.config                  
Source/ScheduledTasks/VacationRoost.VR.RentalCarBooker/App.config               
Source/ScheduledTasks/VacationRoost.VR.ReservationConfirmationEmailer/App.config
Source/ScheduledTasks/VacationRoost.VR.RTP/App.config                           
Source/ScheduledTasks/VacationRoost.VR.SearchPageIndexer/App.config             
Source/ScheduledTasks/VacationRoost.VR.SkiButlersOrderSender/App.config         
Source/ScheduledTasks/VacationRoost.VR.SnowReportUpdater/App.config             
Source/ScheduledTasks/VacationRoost.VR.XmlSitemapGenerator/App.config 
Source/VacationRoost.VR.BookingNotificationEmailer/App.config
Source/VacationRoost.com/VacationRoost.VR.Web/Web.config
Source/ScheduledTasks/VacationRoost.VR.AirBooker/app.config
Source/ScheduledTasks/VacationRoost.VR.AutoDialer/app.config
Source/ScheduledTasks/VacationRoost.VR.AvantLinkBatchUploader/app.config
Source/ScheduledTasks/VacationRoost.VR.CurrencyUpdater/app.config
Source/ScheduledTasks/VacationRoost.VR.ExtrasFormReminderEmailer/app.config
Source/ScheduledTasks/VacationRoost.VR.PNRLocator/app.config
Source/ScheduledTasks/VacationRoost.VR.RTP/app.config
Source/ScheduledTasks/VacationRoost.VR.RateExporter/app.config
Source/ScheduledTasks/VacationRoost.VR.RentalCarBooker/app.config
Source/ScheduledTasks/VacationRoost.VR.ReservationConfirmationEmailer/app.config
Source/ScheduledTasks/VacationRoost.VR.SearchPageIndexer/app.config
Source/ScheduledTasks/VacationRoost.VR.SkiButlersOrderSender/app.config
Source/ScheduledTasks/VacationRoost.VR.SnowReportUpdater/app.config
Source/ScheduledTasks/VacationRoost.VR.XmlSitemapGenerator/app.config

#Rob Files
Rob_*.bat
Build/myprog.rb
Source/Services/VacationRoost.Services/Web_tracelog.svclog
Source/Services/VacationRoost.Services/Web_messages.svclog
UberSite-Virtual/Preview/jacksonreservations.com/pages/travel-deals.book-early-save-big.guided-search.xml
Source/VacationRoost.GatewayServices1.psess
Source/VacationRoost.GatewayServices140825(1).vspx
Source/VacationRoost.GatewayServices140825(2).vspx
Source/VacationRoost.GatewayServices140825(3).vsps
Source/VacationRoost.GatewayServices140825(3).vspx
Source/VacationRoost.GatewayServices140825(4).vspx
Source/VacationRoost.GatewayServices140825.vspx
Source/VacationRoost.GatewayServices140826.vsp
Source/VacationRoost.GatewayServices2.psess
Source/VacationRoost.GatewayServices3.psess
Source/VacationRoost.csv
Source/LegoLand.sln.DotSettings
Source/.vs
node_modules
